@model CommentPostRequestModel
    
<div class="control-group">
    @Html.LabelFor(model => model.CommentAuthorName, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.CommentAuthorName, new { style = "width: 80%;" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.CommentAuthorEmail, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.CommentAuthorEmail, new { style = "width: 80%;" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.CommentAuthorUrl, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.CommentAuthorUrl, new { style = "width: 80%;" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.CommentContent, new { @class = "control-label" })
    <div class="controls">
        @Html.TextAreaFor(model => model.CommentContent, new { style = "width: 90%; max-width: 90%; height: 150px;" })
    </div>
</div>

@if (bool.Parse(ConfigurationManager.AppSettings[Constants.RecaptchaActiveAppSettingsKey]))
{
    <div class="control-group">
        <div class="controls">
            @ReCaptcha.GetHtml(theme: "white")
        </div>
    </div>
}
    
<div class="control-group">
    <button class="btn btn-info" type="submit">@StringResources.SendComment</button>
</div>