@{
    string googleAnalyticsTrackingId = ConfigurationManager.AppSettings["Google:Analytics:TrackingId"];
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@((!string.IsNullOrEmpty(ViewBag.Title)) ? ViewBag.Title + " - " + ConfigurationManager.AppSettings["Bloggy:Title"] : ConfigurationManager.AppSettings["Bloggy:Title"])</title>
        @if (!string.IsNullOrEmpty(ViewBag.MetaDescription)){<text><meta name="description" content="@ViewBag.MetaDescription"></text>}
        @if (!string.IsNullOrEmpty(ViewBag.MetaKeyword)){<text><meta name="keyword" content="@ViewBag.MetaKeyword"></text>}
        @if (!string.IsNullOrEmpty(ViewBag.Canonical)){<text><link rel="canonical" href="@ViewBag.Canonical"></text>}
        @Styles.Render("~/Content/css")
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <div id="fb-root"></div>
        @Html.Partial("_TopHeaderPartial")
        <div class="container" role="main">
            <div class="row">
                <div id="content" class="col-md-8">
                    @RenderBody()
                </div>
                <div id="side" class="col-md-4">
                    @Html.Partial("_RightSidePartial")
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Bloggy &copy;</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
        <script>
            (function() {
                $('form').submit(function () {
                    var $this = $(this),
                        $buttons = $this.find('input[type=submit], button[type=submit]');

                    if ($this.valid()) {
                        $buttons.prop('disabled', true);
                    }
                });
            }());
        </script>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        @if (string.IsNullOrWhiteSpace(googleAnalyticsTrackingId) == false)
        {
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '@googleAnalyticsTrackingId']);
                _gaq.push(['_trackPageview']);
                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>   
        }
    </body>
</html>