<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        @Html.Partial("_TopHeaderPartial")
        <div class="container" role="main">
            <div class="row">
                <div id="content" class="col-md-8">
                    @RenderBody()
                </div>
                <div id="side" class="col-md-4">
                    @Html.Partial("_RightSidePartial")
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Bloggy &copy;</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
        <script>
            (function() {
                $('form').submit(function () {
                    var $this = $(this),
                        $buttons = $this.find('input[type=submit], button[type=submit]');

                    if ($this.valid()) {
                        $buttons.prop('disabled', true);
                    }
                });
            }());
        </script>
</body>
</html>