<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <div id="fb-root"></div>
        @Html.Partial("_TopHeaderPartial")
        <div class="container" role="main">
            <div class="row">
                <div id="content" class="col-md-8">
                    @RenderBody()
                </div>
                <div id="side" class="col-md-4">
                    @Html.Partial("_RightSidePartial")
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Bloggy &copy;</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
        <script>
            (function() {
                $('form').submit(function () {
                    var $this = $(this),
                        $buttons = $this.find('input[type=submit], button[type=submit]');

                    if ($this.valid()) {
                        $buttons.prop('disabled', true);
                    }
                });
            }());
        </script>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
    </body>
</html>