@model Bloggy.Client.Web.ViewModels.BlogPostPageViewModel
@{
    ViewBag.Title = Model.BlogPost.Title;
}

<div class="row blog-post-list-item">
    <div>
        <h4 class="title">
            <a href="#">
                <strong>@Model.BlogPost.Title</strong>
            </a>
        </h4>
        <div class="text-info text-info-custom">
            @Model.BlogPost.BriefInfo
        </div>
        <div class="misc">
            <div class="row">
                <div class="well well-sm well-sm-custom">
                    @Model.BlogPost.CreatedOn.ToString("yyyy-MM-dd HH:mm"), Tugberk Ugurlu
                    <div class="span5 misc-item" style="float:right;">
                        @foreach (Bloggy.Client.Web.Models.TagModel tag in Model.BlogPost.Tags)
                        {
                            <span class="label label-default">@tag.Name</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="span9 content">
        @{
            bool result;
            if (ViewBag.IsCommentSuccess != null && bool.TryParse(ViewBag.IsCommentSuccess.ToString(), out result) && result)
            {
                <div class="alert alert-success">
                    Gratz! Your comment has been posted successfully!
                </div>
            }
        }
        @Html.ValidationSummary(false)
        @Html.Raw(Model.BlogPost.Content)
    </div>
    <div style="float: left;">
        <div id="fb-root">
        </div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/<%=Facebook_LangRes %>/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <fb:like href="http://blog.xomni.com/@Model.BlogPost.Slug" send="true" layout="button_count" width="160" show_faces="false"
                 font="segoe ui"></fb:like>
    </div>
    <div style="float: left;">
        &nbsp;&nbsp;
    </div>
    <div style="float: left;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.xomni.com/@Model.BlogPost.Slug"
           data-count="none" data-via="xomni_cloud" data-lang="en-us">Tweet</a>
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    </div>
    <div style="float: left;">
        &nbsp;&nbsp;
    </div>
    <a href="http://pinterest.com/pin/create/button/?url=http://blog.xomni.com/@Model.BlogPost.Slug&media=TODO:PHOTOURL&description=@Html.Encode(Model.BlogPost.BriefInfo)" class="pin-it-button" count-layout="none"><img border="0" src="http://assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>


</div>

<div class="row comment-list-container blog-post-comment-list-container">
    <div class="span9">
        <h3>@StringResources.Comments</h3>
    </div>
    @foreach (var comment in Model.Comments)
    {
        <div class="span9">
            <div class="comment-container blog-post-comment-container @if(comment.IsByAuthor){<text>comment-container-by-author</text>}">
                <div class="comment-gravatar-container">
                    <div class="visible-desktop">
                        <img src="@string.Format("http://www.gravatar.com/avatar/{0}?s={1}&d=identicon", comment.GravatarHash, 80)" alt="@comment.Name" />
                    </div>
                    <div class="visible-tablet visible-phone">
                        <img src="@string.Format("http://www.gravatar.com/avatar/{0}?s={1}&d=identicon", comment.GravatarHash, 60)" alt="@comment.Name" />
                    </div>
                </div>
                <div class="comment-content-container">
                    <div class="comment-content-header">
                        @if (!string.IsNullOrWhiteSpace(comment.Url))
                        {
                            @:<strong>by</strong> <a href="@comment.Url">@comment.Name</a>
                        }
                        else
                        {
                            @:<strong>by</strong> @comment.Name
                        }
                        <strong>on</strong> @comment.CreatedOn.ToString("dddd, MMM dd yyyy HH:mm:ss zzz")
                    </div>
                    <div class="comment-content">
                        @Html.Raw(comment.Content)
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>

@if (Model.BlogPost.AllowComments)
{
    <div>
        <h3>@StringResources.PostNewComment</h3>
        @using (Html.BeginForm("Index", "BlogPost", new { slug = Request.RequestContext.RouteData.Values["slug"] }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_CommentFormPartial", Model.CommentPostRequestModel, new ViewDataDictionary { { "Id", 123 }, { "CommentType", "post" } })
        }
    </div>
}