@model Bloggy.Client.Web.ViewModels.BlogPostPageViewModel
@{
    ViewBag.Title = Model.BlogPost.Title;
    ReCaptcha.PrivateKey = ConfigurationManager.AppSettings[Constants.RecaptchaPrivateKeyAppSettingsKey];
    ReCaptcha.PublicKey = ConfigurationManager.AppSettings[Constants.RecaptchaPublicKeyAppSettingsKey];
}

<div class="row blog-post-list-item">
    <div class="span9 item-header">
        <h4 class="title">
            <a href="#">
                <strong>@Model.BlogPost.Title</strong>
            </a>
        </h4>
        <div class="brief-info">
            @Model.BlogPost.BriefInfo
        </div>
        <div class="misc">
            <div class="row">
                <div class="span2 misc-item">
                    <span><i class="icon-calendar-empty"></i> @Model.BlogPost.CreatedOn.ToString("yyyy-MM-dd HH:mm")</span>
                </div>
                <div class="span2 misc-item">
                    <span><i class="icon-user"></i> Tugberk Ugurlu</span>
                </div>
                <div class="span5 misc-item">
                    @foreach (Bloggy.Client.Web.Models.TagModel tag in Model.BlogPost.Tags)
                    {
                        <span class="badge badge-info">@tag.Name</span>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="span9 content">
        @{
            bool result;
            if (ViewBag.IsCommentSuccess != null && bool.TryParse(ViewBag.IsCommentSuccess.ToString(), out result) && result)
            {
                <div class="alert alert-success">
                    Gratz! Your comment has been posted successfully!
                </div>
            }
        }
        @Html.ValidationSummary(false)
        @Html.Raw(Model.BlogPost.Content)
    </div>
</div>

<div class="row comment-list-container blog-post-comment-list-container">
    <h3>@StringResources.Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        <div class="span9">
            <div class="comment-container blog-post-comment-container @if(comment.IsByAuthor){<text>comment-container-by-author</text>}">
                <div class="comment-gravatar-container">
                    <img src="@string.Format("http://www.gravatar.com/avatar/{0}?s=80&d=identicon", comment.GravatarHash)" alt="@comment.Name" />
                </div>
                <div class="comment-content-container">
                    <div class="comment-content-header">
                        @if (!string.IsNullOrWhiteSpace(comment.Url))
                        {
                            @:<strong>by</strong> <a href="@comment.Url">@comment.Name</a>
                        }
                        else
                        {
                            @:<strong>by</strong> @comment.Name
                        }
                        <strong>on</strong> @comment.CreatedOn.ToString("dddd, MMM dd yyyy HH:mm:ss zzz")
                    </div>
                    <div class="comment-content">
                        @Html.Raw(comment.Content)
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>

@if (Model.BlogPost.AllowComments)
{
    <div>
        <h3>@StringResources.PostNewComment</h3>
        @using (Html.BeginForm("Index", "BlogPost", new { slug = Request.RequestContext.RouteData.Values["slug"] }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_CommentFormPartial", Model.CommentPostRequestModel, new ViewDataDictionary { { "Id", 123 }, { "CommentType", "post" } })
        }
    </div>
}