@model Bloggy.Client.Web.Models.BlogPostModelLight
<div class="row blog-post-list-item">
    <div class="span9 item-header">
        <h4 class="title">
            <a href="#">
                <strong>@Model.Title</strong>
            </a>
        </h4>
        <div class="brief-info">
            @Model.BriefInfo
        </div>
        <div class="misc">
            <div class="row">
                <div class="span2 misc-item">
                    <span><i class="icon-calendar-empty"></i> @Model.CreatedOn.ToString("G")</span>
                </div>
                <div class="span2 misc-item">
                    <span><i class="icon-user"></i> Tugberk Ugurlu</span>
                </div>
                <div class="span5 misc-item">
                    @foreach (Bloggy.Client.Web.Models.TagModel tag in Model.Tags)
                    {
                        <span class="badge badge-info">
                            @*<a href="@tag.Slug">@tag.Name</a>*@
                            @tag.Name
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="span9 content">
        @Html.Raw(Model.Content)
    </div>
    <a href="#">Messages <span class="badge">3</span></a>
</div>